@using Microsoft.AspNetCore.Components.Web
@using Product_Manager.Models
@using Product_Manager.Services
@inject JsonFileProductService ProductService

<div class="card-columns">
    @foreach (var product in ProductService.GetProducts())
    {
        <div class="card">
            <div class="card-img" style="background-image:url('@product.Image');"></div>
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <h7><b>Price: @product.Price</b></h7>
            </div>
        </div>
    }
</div>

@code {
    Product selectedProduct;
    string selectedProductId;

    void SelectProduct(string productId)
    {
        selectedProductId = productId;
        selectedProduct = ProductService.GetProducts().First(x => x.Id == productId);
    }
}