@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello Joe Biden !!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p style="color:red"> Nghệ sĩ nhân dân kiêm Rap bơ !!! </p>
    <p>
       
        <img src="~/anh/123646020_2740586972830117_5331436020988945983_o.jpg" width="30%" />
        <img src="~/anh/123646020_2740586972830117_5331436020988945983_o.jpg" width="30%" />
        <img src="~/anh/123646020_2740586972830117_5331436020988945983_o.jpg" width="30%" />
       
    </p>
  
</div>
