@page
@model IndexModel
@using Product_Manager.Components
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 50px">Con bò ngắn ăn con bò dài</h1>
</div>
@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>